# Session 1 Exercises

#1. What is the remainder of 102132 divided by 78

In [12]:
102132 % 78

30

Calculate 3.14^2

In [13]:
3.14 ** 2

9.8596

#2. Create of list of every 12th numbers from 1 to 100

In [55]:
r = range(1,101,12)
#list(r)
list(r)

[1, 13, 25, 37, 49, 61, 73, 85, 97]

#3.  What is the length of the above list

In [15]:
len(r)

9

#4. Create a tuple of numbers from 5 to 10

In [16]:
t = range(5,11)
tuple(r)

(1, 13, 25, 37, 49, 61, 73, 85, 97)

#5. What's are the differences between a list and an tuple?

List are mutable where as tuples are immutable

#6. What datatypes are each of the following brakets used for in python, `()`, `[]` and `{}` ?

 * `[]` - used to create list
 * `()` - used to create tuples
 * `{}` - used to create dictionaries and sets

#7. Create a dictionary with one entry

In [17]:
d = {'a':1}
d

{'a': 1}

#8. Add a new entry to the dictionary

In [18]:
d['b'] = 2
d

{'a': 1, 'b': 2}

#9. Update first entry value by adding a list

In [19]:
d['a'] = [1, 2, 3]
d

{'a': [1, 2, 3], 'b': 2}

In [31]:
int('4')+int('2')

6

#10. Why is the output of the bellow '42' and not  6?
```python
>>> '4' + '2'
'42'
```

Because '4' and '2' are string types not number types.

#11. Convert string "1538135465" to a list

In [32]:
s1 = "1538135465"
print(list(s1))

['1', '5', '3', '8', '1', '3', '5', '4', '6', '5']

In [33]:
s1

'1538135465'

In [35]:
s1=list(s1)
s1

['1', '5', '3', '8', '1', '3', '5', '4', '6', '5']

#12. From the above list remove all the '5'

In [36]:
s1 = list(s1)
del s1[1]
print(s1)
del s1[-1]
print(s1)
del s1[-3]
s1

['1', '3', '8', '1', '3', '5', '4', '6', '5']
['1', '3', '8', '1', '3', '5', '4', '6']

['1', '3', '8', '1', '3', '4', '6']

#13. From the list with no "5" replace all the "1" with "hello"

In [37]:
s1

['1', '3', '8', '1', '3', '4', '6']

In [22]:
s1[0] = 'hello'
s1[3] = 'hello'
s1

['hello', '3', '8', 'hello', '3', '4', '6']

#14. Use string formatting to print:
  * `Hong Kong has 8 MTR lines with a total of 98 stations`
 
Use these variables:
  * transport = 'MTR'
  * amount = 98

In [23]:
transport = 'MTR'
amount = 98
print('Hong Kong has 8 {a} lines with a total of {b} stations'.format(a=transport,b=amount))

Hong Kong has 8 MTR lines with a total of 98 stations

#15. From the nested list, use indexing to print string "world"

In [42]:
l = ['a', 'z', 1, 56, ['d', 34,'abc'], 3,[5, 'qwe',['la', 123, 'hello',['world'], 8, 0], 'def'], 6, 100, 'xyz']
l

['a',
 'z',
 1,
 56,
 ['d', 34, 'abc'],
 3,
 [5, 'qwe', ['la', 123, 'hello', ['world'], 8, 0], 'def'],
 6,
 100,
 'xyz']

In [39]:
l[6]

[5, 'qwe', ['la', 123, 'hello', ['world'], 8, 0], 'def']

In [40]:
l[6][2]

['la', 123, 'hello', ['world'], 8, 0]

In [41]:
l[6][2][3]

['world']

In [25]:
print(l[6][2][3][0])

world

#16. What is the length of 3.14

In [26]:
len(str(3.14))

4

In [43]:
len(3.14)

TypeError: object of type 'float' has no len()

#17. Given the following variables:
 * car = 'sedan'
 * model = 'tesla'
 * color = 'black'

print the variables to match this output:
 * i drive a#black#tesla#sedan!

In [45]:
car = 'sedan'
model = 'tesla'
color = 'black'
print('i drive a',color,model,car,end='!')
print('\n')
print('i drive a', color,model,car, sep='#', end='!')

i drive a black tesla sedan!

i drive a#black#tesla#sedan!

#18. Difficult: given the nested dictionary, print 'boc'

In [46]:
dict = {'key': 'value', 'banks': [4, 3, 'many',{'local':['hang seng', 'dah sing','OCBC', 'international',['hsbc', 'sc','citibank', {'china': ['boc', 'ccb']}, 145, 852], 'octopuss', 'mtr'], 'sports': ['football','basketball']}], 'temp':'humid'}
dict

{'key': 'value',
 'banks': [4,
  3,
  'many',
  {'local': ['hang seng',
    'dah sing',
    'OCBC',
    'international',
    ['hsbc', 'sc', 'citibank', {'china': ['boc', 'ccb']}, 145, 852],
    'octopuss',
    'mtr'],
   'sports': ['football', 'basketball']}],
 'temp': 'humid'}

In [47]:
dict['banks']

[4,
 3,
 'many',
 {'local': ['hang seng',
   'dah sing',
   'OCBC',
   'international',
   ['hsbc', 'sc', 'citibank', {'china': ['boc', 'ccb']}, 145, 852],
   'octopuss',
   'mtr'],
  'sports': ['football', 'basketball']}]

In [48]:
dict['banks'][3]

{'local': ['hang seng',
  'dah sing',
  'OCBC',
  'international',
  ['hsbc', 'sc', 'citibank', {'china': ['boc', 'ccb']}, 145, 852],
  'octopuss',
  'mtr'],
 'sports': ['football', 'basketball']}

In [49]:
dict['banks'][3]['local']

['hang seng',
 'dah sing',
 'OCBC',
 'international',
 ['hsbc', 'sc', 'citibank', {'china': ['boc', 'ccb']}, 145, 852],
 'octopuss',
 'mtr']

In [50]:
dict['banks'][3]['local'][4]

['hsbc', 'sc', 'citibank', {'china': ['boc', 'ccb']}, 145, 852]

In [51]:
dict['banks'][3]['local'][4][3]

{'china': ['boc', 'ccb']}

In [52]:
dict['banks'][3]['local'][4][3]['china']

['boc', 'ccb']

In [53]:
print(dict['banks'][3]['local'][4][3]['china'][0])

boc

#19. Change this cell to markdown and run, what do you see?

![pic](https://i2.wp.com/evomics.org/wp-content/uploads/2011/09/python-logo-glassy.png)

#20. Add five cells below this markdown

#21. Delete 2 cells from above

#22. Combine the list from question 13 to question 2

In [56]:
s1.append(list(r))
s1

['1', '3', '8', '1', '3', '4', '6', [1, 13, 25, 37, 49, 61, 73, 85, 97]]

# GREAT JOB!