# Python Basics Introduction II

The learning objectives are:
* Methods:
    * String Methods
    * Data Container Methods
* In & Not In Statements  
* If...Else Statements
    * Elif
    * Nested
* Loops Statements
    * For Loops
    * While Loops
* User Defined Functions
    * Lambda Expressions
* List Comprehension and Dictionary Comprehension
* Datetime Module

### Methods

Methods are functions that is called on an object (Python's abstraction for data). Different data types have different methods. The syntax to call a method on an object is `object.methodname()`. In a Jupyter Notebook, after adding a `.` on an object, press `Tab` to bring a up list of possible methods to call on this object.

##### Example:
```python

x = [1,2,3]
x.append(5)


```

In the example code  `.append()` is a method for the variable x, a list object. This method appends an object at the end of a list. As with built-in Python functions, press `shift+tab` to view a method's docstring.

Alternatively, passing an object in `help()` will return a more detail version of all possible methods for that data type.

##### Examples:
```python

help(x) , help(str) , help(dict)

```

*** Note: Methods for mathematical computing will be learned in NumPy ***

In [90]:
x = [1,2,3]
x.append(5)
x

[1, 2, 3, 5]

### String Methods

Strings have two types of methods, a String Method and Boolean String Method. For a String Method, all methods returns a new value. Boolean String Method will always returns a boolean `True` or `False`.

##### Common Boolean String Methods Examples:

* `.isalnum()` - Returns True if string is only alphabetic and numeric, otherwise False.
* `.isalpha()` - Returns True if string is all alphabetic, otherwise False.
* `.isdigit()` - Returns True if string is all numeric, otherwise False.
* `.islower()` - Returns True if string is all in lowercase alphabetic, otherwise False
* `.isupper()` - Returns True if string is all in uppercase alphabetic, otherwise False.
* `.endswith()` - Returns True if string ends with specified string value,  otherwise False.
* `.startswith()` - Returns True if string starts with sepecified string value, otherwise False.

In [92]:
# .isalnum() - No substring is passed inside ()
"abc123".isalnum()

True

In [93]:
# .isalnum() 
alpha_num = "python37"
print(alpha_num.isalnum())

True

In [94]:
# .isalpha() - No substring is passed inside ()
my_alpha = "Python"
print("Is {} all alphabetic? {}".format(my_alpha, my_alpha.isalpha()))

Is Python all alphabetic? True

In [95]:
# .isalpha() - 
swapcase = "SwApCaSe"
swapcase.isalpha()

True

In [96]:
# .isdigit() - No substring is passed inside ()
birdie = '0'
print("Is {} an integer? {}".format(birdie, birdie.isdigit()))

Is 0 an integer? True

In [98]:
'0'.isdigit()

True

In [6]:
# .isdigit() 
print("This is Python 101?", "101".isdigit())

This is Python 101? True

In [99]:
'ab21'.isdigit()

False

In [101]:
# .islower() - No substring is passed inside ()
"python 101".islower()

True

In [102]:
# .islower()
print("Is " + swapcase + " in all lowercase format?",swapcase.islower())

Is SwApCaSe in all lowercase format? False

In [103]:
# .islower()
my_string = "i like learning python!"
print(my_string.islower())

True

In [104]:
# .isupper() - No substring is passed inside ()
swapcase.isupper()

False

In [106]:
# .isupper() 
yell = "YELL!"
print(yell.isupper())

True

In [107]:
# .endswith() - Specified substring is passed inside ()
headline = "Tech Stocks Soar 3%"
print("Does title '{}' end with a %? {}".format(headline, headline.endswith('%')))

Does title 'Tech Stocks Soar 3%' end with a %? True

In [109]:
# .endswith()
print("alpha_num output is:", alpha_num)
print(alpha_num.endswith('37'))

alpha_num output is: python37
True

In [110]:
# .startswith() - Specified substring is passed inside ()
"Python".startswith('p')

False

In [112]:
my_string

'i like learning python!'

In [111]:
# .startswith()
my_string.startswith('i like')

True

##### Common String Methods:
* `.count()` - Returns the number of occurence of a substring in a string.
* `.find()` - Returns the index of first occurence of a substring in a string from [start:end].
* `.index()` - Returns the index of first occurence of a substring in a string from [start:end].
* `.join()` - Returns a concatenated string where string elements is joined by a string separator.
* `.lower()` - Returns all alphabetic to lowercase.
* `.upper()` - Returns all alphabetic to uppercase.
* `.replace()` - Returns a string where all occurence of a substring is replaced by a specified substring.
* `.split()` - Returns a list of strings separated by a specified separator.
* `.strip()` - Returns a string with front and end whitespace removed.

In [113]:
"How many times does 'i' appear in this sentence?".count()

TypeError: count() takes at least 1 argument (0 given)

In [116]:
# .count() - A specified substring is passed inside ()
print("How many times does 'i' appear in this sentence?".count('i'))
print(len("How many times does 'i' appear in this sentence?"))

4
48

In [117]:
my_string

'i like learning python!'

In [118]:
# .count()
python_count = my_string.count('python')
print(python_count)

1

In [121]:
"The first space in this sentence is where? The answer is: "[3]

' '

In [119]:
# .find() - A specified substring is passed inside ()
print("The first space in this sentence is where? The answer is: ".find(' '))

3

In [122]:
"The first space in this sentence is where? The answer is: "[10]

's'

In [19]:
# .find() - An optional start and end index can be given to where search begins and ends
print("The first space in this sentence is where? The answer is: ".find('i', 10))

16

In [123]:
"The first space in this sentence is where? The answer is: "[16]

'i'

In [20]:
# .find() 
sentence1 = list("The first space in this sentence is where? The answer is: ")
print(sentence1[20:].count('e'))
sentence1[20]

7

'h'

In [125]:
"The first space in this sentence is where? The answer is: "[20]

'h'

In [126]:
"The first space in this sentence is where? The answer is: "[40]

'e'

In [124]:
print("The first space in this sentence is where? The answer is: ".find('e', 20, 40))

25

In [127]:
"The first space in this sentence is where? The answer is: "[25]

'e'

In [128]:
# .find()
hw = 'Hello, World!'
hw.find('hello') # returns -1 if unable to find specified substring

-1

In [129]:
# .index() - A specified substring is passed inside ()
alphabet = 'abcdefghijklmnopqrstuvwxyz'
z_index = alphabet.index('z')
print(z_index)

25

In [132]:
# .index()
m = 'AaBc'
m.index('aB') # returns only the index from the first substring value, in this example its 'a'

1

In [133]:
# .join() - An iterable is passed inside (), iterable examples are String, List, Dictionary, and Tuple
my_string = 'i like learning python'
_sep = '_'.join(my_string)
print(_sep)

i_ _l_i_k_e_ _l_e_a_r_n_i_n_g_ _p_y_t_h_o_n

In [134]:
# .join()
print(hw)
m.join(hw)

Hello, World!

'HAaBceAaBclAaBclAaBcoAaBc,AaBc AaBcWAaBcoAaBcrAaBclAaBcdAaBc!'

In [135]:
# .lower() - No substring is passed inside ()
yell_str = "A NOTEBOOK ABOUT PYTHON!"
quiet_yell = yell_str.lower()
print(yell_str)
print(quiet_yell)

A NOTEBOOK ABOUT PYTHON!
a notebook about python!

In [136]:
# .lower()
print("From {} to not {}".format(swapcase, swapcase.lower()))

From SwApCaSe to not swapcase

In [137]:
# .upper()
'from lowercase to uppercase'.upper()

'FROM LOWERCASE TO UPPERCASE'

In [138]:
# .upper()
'from SwApCaSe to UPPERcase'.upper()

'FROM SWAPCASE TO UPPERCASE'

In [139]:
# .replace() - A specified old substring and new substring is passed inside ()
dr_seuss = "The Cat in the Hat by Dr. Seuss Cat"
cat2dog = dr_seuss.replace("Cat", "Dog")
print(cat2dog)

The Dog in the Hat by Dr. Seuss Dog

In [141]:
# .replace()
tongue_twister = "How much wood would a woodchuck chuck if a woodchuck could chuck wood?"
wood2would = tongue_twister.replace("wood", "WOULD" ) # default is to replace all occurence of substring
print(wood2would)

How much WOULD would a WOULDchuck chuck if a WOULDchuck could chuck WOULD?

In [142]:
# .replace()
tongue_twister.replace("wood", "WOULD", 2) # optional count value given are replaced

'How much WOULD would a WOULDchuck chuck if a woodchuck could chuck wood?'

In [143]:
dr_seuss

'The Cat in the Hat by Dr. Seuss Cat'

dr.seuss_split() == dr_seuss.split(' ')

In [144]:
# .split() - A specified string delimiter can be passed inside (), by default will split on whitespace
dr_seuss_list = dr_seuss.split()
print(dr_seuss_list)

['The', 'Cat', 'in', 'the', 'Hat', 'by', 'Dr.', 'Seuss', 'Cat']

In [145]:
# .split()
dr_seuss.split('Hat')

['The Cat in the ', ' by Dr. Seuss Cat']

In [146]:
abcde = " abcdeabcdeacbdabcdea"
no_a = abcde.split("a")
print(no_a)

[' ', 'bcde', 'bcde', 'cbd', 'bcde', '']

In [147]:
# .strip() 
s = "  A string with spaces at either end   "
s.strip() #removes whitespaces from start and end

'A string with spaces at either end'

In [149]:
# .strip() - An optional character can be passed inside (), if given will strip on that character in front and end of string
twitter = "#h#hashtag #python #hongkong #852 #code###"
hashtag_strip = twitter.strip("#")
print(hashtag_strip)

h#hashtag #python #hongkong #852 #code

##### Chaining String Methods

Method chaining is by adding a second method after the first method on an object for example `object.method1().method2()`.

In [150]:
dr_seuss

'The Cat in the Hat by Dr. Seuss Cat'

In [153]:
dr_seuss.split()

['The', 'Cat', 'in', 'the', 'Hat', 'by', 'Dr.', 'Seuss', 'Cat']

In [152]:
# .lower().split()
dr_seuss.lower().split()

['the', 'cat', 'in', 'the', 'hat', 'by', 'dr.', 'seuss', 'cat']

In [154]:
# method order matters for chaining methods
dr_seuss.split().lower() # by calling .split() first, the object has become a list and .lower() does not work on a list, returns an error

AttributeError: 'list' object has no attribute 'lower'

In [155]:
'^'.join(dr_seuss)

'T^h^e^ ^C^a^t^ ^i^n^ ^t^h^e^ ^H^a^t^ ^b^y^ ^D^r^.^ ^S^e^u^s^s^ ^C^a^t'

In [156]:
'^'.join(dr_seuss).count('^')

34

In [41]:
# .join().count()
'^'.join(dr_seuss).count('^')
print(dr_seuss)
print('^'.join(dr_seuss))

The Cat in the Hat by Dr. Seuss Cat
T^h^e^ ^C^a^t^ ^i^n^ ^t^h^e^ ^H^a^t^ ^b^y^ ^D^r^.^ ^S^e^u^s^s^ ^C^a^t

In [160]:
m

'AaBc'

In [161]:
yell_str.lower().join(m).split('a')

['A',
 ' notebook ',
 'bout python!',
 '',
 ' notebook ',
 'bout python!B',
 ' notebook ',
 'bout python!c']

In [42]:
# .lower().join().split()
print(yell_str)
print(m)
yell_str.lower().join(m).split('a')
print(yell_str.lower())
print(yell_str.lower().join(m).split('a'))

A NOTEBOOK ABOUT PYTHON!
AaBc
a notebook about python!
['A', ' notebook ', 'bout python!', '', ' notebook ', 'bout python!B', ' notebook ', 'bout python!c']

*** Note: experiment will multiple method chains to see results ***

### List Methods

Common list methods are:

* `.copy()` - Returns a copy of a list.
* `.append()` - Add a single object at end of list.
* `.extend()` - Add an iterable object in sequence at end of list. Main iterable are strings, list, and dictionary.
* `.insert()` - Insert an object before a given index.
* `.remove()` - Remove first occurence object from a list.
* `.index()` - Returns object's first occurence index in a list.
* `.count()` - Returns object's number of occurence in a list.
* `.sort()` - Sorts the objects in a list in ascending order.

In [169]:
dr_seuss_list

['The', 'Cat', 'in', 'the', 'Hat', 'by', 'Dr.', 'Seuss', 'Cat', 5, 5]

In [180]:
[1,2,3][0]

1

In [168]:
# .copy()
drseuss_copy = dr_seuss_list.copy()
print(drseuss_copy)
drseuss_copy = dr_seuss_list
drseuss_copy.append(5)
drseuss_copy

['The', 'Cat', 'in', 'the', 'Hat', 'by', 'Dr.', 'Seuss', 'Cat', 5]

['The', 'Cat', 'in', 'the', 'Hat', 'by', 'Dr.', 'Seuss', 'Cat', 5, 5]

*** Assigning a list to variable and then performing methods on variable will affect orginal list ***

In [170]:
# .copy()
original_list = ['a', 's', 1, 2, 'd', 3]
copy_list = original_list
copy_list.append('3.14') # == original_list.append('3.14')
print("orginal_list contents: ", original_list)
print("copy_list contents: ", copy_list)

orginal_list contents:  ['a', 's', 1, 2, 'd', 3, '3.14']
copy_list contents:  ['a', 's', 1, 2, 'd', 3, '3.14']

In [171]:
# .copy() - to solve this issue call list with .copy() method
original_list = ['a', 's', 1, 2, 'd', 3]
copy_list = original_list.copy()
copy_list.append('3.14')
print("orginal_list contents: ", original_list)
print("copy_list contents: ", copy_list)

orginal_list contents:  ['a', 's', 1, 2, 'd', 3]
copy_list contents:  ['a', 's', 1, 2, 'd', 3, '3.14']

In [173]:
# .append() - appending a list to a list will create a nested list
num_list = list(range(5))
print(num_list)
num_list.append(dr_seuss_list)
print(num_list)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, ['The', 'Cat', 'in', 'the', 'Hat', 'by', 'Dr.', 'Seuss', 'Cat', 5, 5]]

In [174]:
# .append() - 
num_list.append({'code':'python', 'os': 'unix'})
print(num_list)

[0, 1, 2, 3, 4, ['The', 'Cat', 'in', 'the', 'Hat', 'by', 'Dr.', 'Seuss', 'Cat', 5, 5], {'code': 'python', 'os': 'unix'}]

In [175]:
# .append() - appending a string, integer, or float will add in sequence to end of list
one2five = [1,2,3,4,5]
one2five.append(1.8)
one2five.append(6)
one2five.append('xyz')
print(one2five)

[1, 2, 3, 4, 5, 1.8, 6, 'xyz']

*** Some List methods return Nonetype when method operation is assigned to variable because these methods don't return an updated object only modify ***

In [178]:
# .append() - Returning a NoneType
string_list = ['abc', 'def', 'ghi']
mixed_list_action = string_list.append(1) # returns a None type if you assigned the called method to a variable
print(mixed_list)
mixed_list_action = string_list
print("The list contents: ", mixed_list)

print("The list contents: ", string_list) # however the operation has occurred in-place

new_list = string_list # after method has been called, then can assign to variable
print("The list contents: ", new_list)

['abc', 'def', 'ghi', 1]
The list contents:  ['abc', 'def', 'ghi', 1]
The list contents:  ['abc', 'def', 'ghi', 1]
The list contents:  ['abc', 'def', 'ghi', 1]

In [50]:
# .extend() 
str_list = ['abc', 'def', 'ghi']
print("no_a contents: ", no_a)
str_list.extend(no_a)
str_list

no_a contents:  [' ', 'bcde', 'bcde', 'cbd', 'bcde', '']

['abc', 'def', 'ghi', ' ', 'bcde', 'bcde', 'cbd', 'bcde', '']

In [182]:
# .extend() - extending with a string
mixed_list = [[1,2],['a', 'b'], 'python', 3.7 ,{'mobile': 'iphone', 'food':'dimsum'}, 852]
mixed_copy = mixed_list.copy()
mixed_list.extend('hong kong') # extend will iterate each character in string and add to list
print(mixed_list)

[[1, 2], ['a', 'b'], 'python', 3.7, {'mobile': 'iphone', 'food': 'dimsum'}, 852, 'h', 'o', 'n', 'g', ' ', 'k', 'o', 'n', 'g']

In [181]:
mixed_copy

[[1, 2],
 ['a', 'b'],
 'python',
 3.7,
 {'mobile': 'iphone', 'food': 'dimsum'},
 852,
 'a',
 'z']

In [183]:
# .extend() - extend with a dictionary only adds the keys to the list
mixed_list.extend({'a':1, 'z':26})
print(mixed_list)

[[1, 2], ['a', 'b'], 'python', 3.7, {'mobile': 'iphone', 'food': 'dimsum'}, 852, 'h', 'o', 'n', 'g', ' ', 'k', 'o', 'n', 'g', 'a', 'z']

In [184]:
# .extend() - pass in as list 
mixed_copy.extend({'a':0, 'z':25})
print(mixed_copy)

[[1, 2], ['a', 'b'], 'python', 3.7, {'mobile': 'iphone', 'food': 'dimsum'}, 852, 'a', 'z']

In [185]:
# .extend() - Cannot pass in number data type in extend only in a list form
x = list(range(5))
x.extend([123]) #add another list
print(x)

[0, 1, 2, 3, 4, 123]

In [187]:
# .insert() - An index and value is passed inside ()
print(copy_list)
copy_list.insert(5,'new value')
print(copy_list)

['a', 's', 1, 2, 'd', 3, '3.14']
['a', 's', 1, 2, 'd', 'new value', 3, '3.14']

In [188]:
# .insert()
x.insert(9, 'a string')
print(x)

[0, 1, 2, 3, 4, 123, 'a string']

In [189]:
# .remove()
x.remove(123) #removes first 11 if finds from list
x

[0, 1, 2, 3, 4, 'a string']

In [191]:
# .remove()
ones = [1,1,1,1,1]
ones.remove(1) # will only remove a single 1
ones

[1, 1, 1, 1]

In [195]:
ones.remove(1)
ones

[]

In [196]:
copy_list

['a', 's', 1, 2, 'd', 'new value', 3, '3.14']

In [197]:
# .index()
copy_list.index('new value')

5

In [198]:
# .count() - count will not count values that are nested
print(mixed_list)
print("how many 'o' in mixed_list? ", mixed_list.count('o'))
print("how many 'a' in mixed_list? ", mixed_list.count('a'))
print(mixed_list)

[[1, 2], ['a', 'b'], 'python', 3.7, {'mobile': 'iphone', 'food': 'dimsum'}, 852, 'h', 'o', 'n', 'g', ' ', 'k', 'o', 'n', 'g', 'a', 'z']
how many 'o' in mixed_list?  2
how many 'a' in mixed_list?  1
[[1, 2], ['a', 'b'], 'python', 3.7, {'mobile': 'iphone', 'food': 'dimsum'}, 852, 'h', 'o', 'n', 'g', ' ', 'k', 'o', 'n', 'g', 'a', 'z']

### Tuples

Since tuples are immutable once created, can't add or remove element, hence they have 2 usable methods `.count()` and `.index()`.

In [61]:
tup = ('a','b','c','a')

In [199]:
tup.count('a')

2

In [200]:
tup.index('a') #returns index of first a it finds

0

### Dictionaries

Since dictionaries are a key value store, naturally many of their methods revolve around retriving keys or values. Common dictionary methods are:

* `.get()` - Returns value of the key 
* `.keys()` - Returns all keys from dictionary
* `.values()` - Returns all values from dictionary

In [201]:
# alternative syntax: d = dict(toast = 2, beans = 2)
d = {'toast':2, 'beans':2, 'eggs':'sunny side up', 'sausage':'chorizo'}
print(d)

{'toast': 2, 'beans': 2, 'eggs': 'sunny side up', 'sausage': 'chorizo'}

In [207]:
# keys()
a = d.keys() # get all keys from list
a

dict_keys(['toast', 'beans', 'eggs', 'sausage'])

In [203]:
# .values
d.values() #get all values from dict

dict_values([2, 2, 'sunny side up', 'chorizo'])

In [67]:
# .items()
d.items() #returns (key,value) as  a list of tuples

dict_items([('toast', 2), ('beans', 2), ('eggs', 'sunny side up'), ('sausage', 'chorizo')])

In [208]:
# .get() - alternative syntax: d['toast']
print("toast value is:", d.get('toast')) # Return value from key
print("toast value is:", d['toast'])

toast value is: 2
toast value is: 2

In [209]:
# .get() - pass inside () key, optional default value, if key not present, will return default value, by default=None
d.get('bacon','there is nothing') #if there is no bacon key, return mushrooms

'there is nothing'

In [210]:
d

{'toast': 2, 'beans': 2, 'eggs': 'sunny side up', 'sausage': 'chorizo'}

In [211]:
d.get('tomato', 'None')

'None'

In [212]:
# 'in' statement returns boolean
'toast' in d.values() # check if a key is in dict

False

### In Statement

In the previous cell an `in` and also `not in` statements are Python Membership Operators and they can be used to check for membership in a data object. Returns a boolean value.

In [226]:
# in 
'in' not in 'indigo' # for strings, will check membership for substring exists in the string

False

In [216]:
# in 
'out' in {'out': 'in'} # for dictionary, will check for exact 'key' match

True

In [220]:
# in
'india' in ['india', 'indigo', 'indio'] # for list, will check for exact element in list

True

In [222]:
# not in
in_var = 'in'
mixed_in = [in_var, 'inin', {"in": "out"}]
'in' in mixed_in

True

In [223]:
# not in
'1' in '20'

False

In [225]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [224]:
# not in
5 in list(range(6))

True

### If...Else Statements

The `if` and `else` statement are decision making and control flow for programs. In programming decision making and control flow is needed to execute a certain code if a condition is satisfied and execute a different code if not satisfied.

```python
if condition == True:
|   |
|   body of code # a Tab indention or 4 whitespaces for execute code
|   |
else:
|   |
|   body of different code # a Tab indention or 4 whitespaces for execute code
```
The syntax for `if...else` statement is shown above. `if` and `else` must be aligned together and the `if` body of code and `else` body of code must also be aligned together for the`if...else` statement to execute. By default `if` is `True` and `else` is `False`.

#### Python If...Else Flow Chart

![pic](https://programmingstack.com/images/if-else-fc.jpg)

In [78]:
x = 1

if (): # by default if condition == True
    print(True)
else:
    print(False)

False

In [79]:
hw

'Hello, World!'

In [80]:
if hw.islower(): # condition is False
    
    print(hw)
    
else: # else condition code is executed
    
    print('hw is not in lower case')

hw is not in lower case

In [81]:
if 'in' in 'indigo': # condition is True and if condition code is executed
    print(list('indigo'))
    
else:
    print('"in" is not in indigo')

['i', 'n', 'd', 'i', 'g', 'o']

In [82]:
x = 1.514
y = 3/4

In [83]:
if y > x:
    
    print('{} is less than {}'.format(x,y))

else:
    
    pass # Python pass statement means null operation, returns nothing

In [84]:
# if statement can be without else statement, if condition is false, returns nothing
# if statement can also include logical operators and/or, &/|
if x > 0 and y > 0: # logical and chain
    print('{} + {} is a positive number'.format(x,y))

1.514 + 0.75 is a positive number

In [85]:
if len(dr_seuss_list) > 10 | mixed_list.count('a') == 10: # logical or chain
    dr_seuss_list.append(mixed_list)
    print(dr_seuss_list)
else:
    print("length difference between dr_seuss_list and mixed_list is:", len(dr_seuss_list) - len(mixed_list))

length difference between dr_seuss_list and mixed_list is: -8

### ELIF Statement

The `elif` statement is a combination of `else if` statement. `elif` is used to add multiple conditions to decision making. If the first `if` condition is not satisfied, the code will check for `elif` condition is satisfied or not, if satisfied the `elif` body code will execute and if not, the code will move on to the next `elif` condition or to `else` and so on.

```python

if condition1:
    body of code1
elif condition2:
    body of code2
elif condition3:
    body of code3
else:
    body of code4
```

As with `if...else` syntax `elif` must be aligned under the `if` statement for the whole statement to execute.

#### Python If...Elif...Else Flow Chart
![pic](http://www.trytoprogram.com/images/python_ifelseif.jpg)

In [88]:
# this code checks for input number is in ranges 1-5, 6-10 or 11-15
x = int(input('enter a number between 1 to 15: '))

if x > 15:
    print('{} out of range'.format(x))
elif x > 10:
    print('{} is in range 11 to 15'.format(x))
elif x > 5:
    print('{} is in range 6 to 10'.format(x))
else:
    print('{} is in range 1 to 5'.format(x))

enter a number between 1 to 15: 1
1 is in range 1 to 5

In [87]:
# this code checks for input weather and prints appropriate message
weather = input('choose between raining, sunny, cloudy, chilly, and windy').lower()

if (weather == 'raining') | (weather == 'cloudy'):
    print("don't forget an umbrella for this gloomy day")
elif (weather == 'windy') | (weather == 'chilly'):
    print("better wear a coat or a hoodie")
else:
    print('perfect weather')

choose between raining, sunny, cloudy, chilly, and windysunny
perfect weather

In [ ]:
# elif alternate syntax
sport = input('basketball, football, or ??? ').lower()

if sport == 'basketball':
    print('I like to watch NBA')

else:
    if sport == 'football':
        print('I lke to watch EPL')
    else:
        print("I don't know that sport")

### Nested If...Else Statement
A nested `if...else` statement is an `if` statement inside the body of an `if` statement. Having a nested `if` statement can form complex decision making structures. Any number of `if...else` statement can be nested, however the tradeoff is that code will become difficult to read.

```python
if condition1_1:
    if condition1_2:
        body of code1_2
    elif:
        body of code1_3
    else:
        body of code1_4
elif condition2_1:
    if condition2_2:
        body of code2_2
    else:
        body of code2_3
else:
    body of code3
```

#### Python Nested If...Else Statement
![pic](https://1.bp.blogspot.com/-ufncN4gMAO0/TfaSv5nqYOI/AAAAAAAAAGY/vMsRFj9jsjw/s1600/5.GIF)

In [ ]:
# nested if statement checks if input is odd or even, positive or negative integer
num = int(input('enter an integer:'))

if num % 2 == 0:
    if num > 0:
        print(num, "is positive even integer and the squared value is", num ** 2)
    else:
        print(num, "is negative even integer and the cubed value is", num ** 3)

else:
    if num > 0:
        print(num, "is positive odd integer and the cubed value is", num ** 3)
    else:
        print(num, "is negative odd integer and squared value is", num ** 2)

### Loop Statement

Python has two Loop Statements, `for` and `while`. Loops are used for repitition, to run the same code over and over again until results are satisfied. Each run step is called iteration. An iterable is an object that has `__iter__` method such as a list or dictionary. An iterator is the object that is returned from the iterable in each iteration.

`for` loops iterate over a sequence, such as a string, list, tuple, array, and dictionary to return the iterator object. The loop will stop when there is nothing else to iterate. The syntax is shown below:

```python
for iterator in iterable:
    code # code is Tab or 4 whitespaces indented
```
#### Python For Loop Statement Flow Chart
![pic](http://www.trytoprogram.com/images/python_for_loop.jpg)

`while` statement repeats code until a boolean condition becomes `False`. If the boolean condition never becomes `False` the code will run forever. If The syntax is shown below:
```python
while condition:
    code # code is Tab or 4 whitespaces indented
```

#### Python While Statement Flow Chart
![pic](https://qph.fs.quoracdn.net/main-qimg-d9ad17c6eba27e31f73c0a604f261469)

In [ ]:
# for loop
print(list(range(5)))

for w in range(5):
    print(w)

In [ ]:
# for loop - this code sums the number in a list
numbers = [1, 4, 2, 6, 11, 3, 4]
total = 0 
a = 1
for i in numbers:
    print('Loop',a)
    print('before:',total)
    total = total + i # print out each iteration
    print('after:',total)
    a+=1
print(total)

In [ ]:
# for loop
l = range(1,101)
odd = []
even = []

for i in l: 
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print("A list of even numbers", even, sep='\n')
print('\n')
print("A list of odd numbers", odd, sep='\n')

In [ ]:
# for loop 
print(hw)
print('\n')

for i in hw:
    print(i)

In [ ]:
# for loop - use enumerate() to return both iterator and a counter
# this code shows k as index for each value v
print(odd)
for a, b in enumerate(odd):
    print(a,b)

In [ ]:
# for loop - enumerate()
for k in enumerate(dr_seuss_list): # if only 1 iterator, will return a tuple
    print(k)

In [ ]:
# for loop - to loop over a dictionary use .item() and two iterators to return key and value
d = {'apple':1, 'berry':2}
print(d)
print('\n')
print(d.items())
print('\n')
for k,v in d.items(): # The first iterator is for keys and The second iterator (optional) is for values of a dictionary
    print('{} has a value of: {}'.format(k,v))

In [ ]:
xyz = {'x': 3, 'y': -7, 'z': 12}

for k in xyz.items(): # if only 1 iterator, will return a tuple of key value pair
    print(k)

In [ ]:
# while statement
count = 0 

while count < 5:
    print(count)
    count = count + 1

In [ ]:
list1 = [0, 1, 2, [3,4,5]]

for i in list1:
    if i == 3:
        for a in list1[3]:
            print('yes')
            print(a)   
    else:
        print(i)

In [ ]:
# while statement
count = 0

while True:
    print(count)
    count += 1
    if count == 6:
        break # break is used to stop the while True loop

In [ ]:
## while statement - guessing game
import random # import random module 

guess = 0
secret = random.randint(1,20) # generates a random integer from 1 to 20
while guess != secret:
    g = int(input('guess a number from 1 to 20'))
    guess = g
    if guess == secret:
        print('you guessed correctly, the secret number is {}'.format(secret))
    
    elif guess > secret:
        print('guess is bigger than secret number, guess again')
        
    else:
        print('guess is less than secret number, guess again')

### User Defined Functions

In Python along with built-in functions, a coder can make their own functions, these are user defined functions. User defined functions are a unique block of code that is only executed when called to perform a specific task. User defined functions are helpful to a program because they are reusable, helps with organization as it helps break the program down to smaller sections for debugging, makes a program modular, and a can be used in another programs.

The general syntax for a function:

```python 

def function_name(argument_1, argument_2,...): # arguments are optional, arguments can also have default values
    """
    Docstring - this section explains your function (optional)
    """
    # operation with arguments, the code inside a functin is by default a Tab or 4 whitespace indention
    object = argument_1 + argument_2
    # return object
    return object

# Use function_name to call the function.
function_name(argument_1, argument_2)
```

Rules for functions:

* __Defining the function__
  * Use the `def` keyword
  * Function name should be unique.
  * Arguments are optional, but add more information and clarity what the function purpose is. Argument order matters.
    * The arguments basically become a variable within the body of the function.
  * Use `return` keyword to return some value.

* __Using the function__
  * To use or *call* your function you use the function name followed by parentheses.
  * Inside the parenthese pass the arguments.

In [ ]:
def add_one(x):
    """
    This functions adds 1 to a number
    """
    return x + 1

a = 3
add_one(a)

In [ ]:
# function with no arguemnts
def hello_world():
    print('Hello, World!')

hello_world() # if pass arguments will always print Hello, World!

In [ ]:
# function with default arguments 
def add_number(x = 1, y = -4):
    z = x + y
    return z

print('No arguments passed in returns:',add_number()) # no arguments passed
print('One argument passed in returns:', add_number(-5)) # one argument passed overwrites default x 
print('Two argument passed in returns:', add_number(2, 3)) # two arguments passed overwrites default x and y

In [ ]:
l = [23, 34,55, 66,340,6,77,2,55,22,57,2]

def my_max(num_list):
    """
    This returns the max value in a list
    """
    biggest = num_list[0]
    for num in num_list:
        if num > biggest:
            biggest = num
            
    return biggest
 
my_max(l)

### Positional Arguments

The order for passing arguments to a function matters

In [ ]:
def power(x,a):
    return x**a

In [ ]:
power(4,6)

In [ ]:
power(6,4)

Alternatively, directly pass the values to the arguments, then the order won't matter.

In [ ]:
power(x = 4, a = 6)

In [ ]:
power(a = 4, x = 6)

If arguments are in a list ca use an asterisk (`*`) to unpack the arguments into the function.

In [ ]:
l = [2,4]
power(*l)
power(2,4)

### Default Arguments

Functions can have default arguments so it is not necessary to pass every argument

In [ ]:
def hello(name='Dom'):
    print('Hello, ' + name)

In [ ]:
hello()

In [ ]:
hello('All')

In [ ]:
hello(name="Bob")

In [ ]:
# function with default arguments 
def add_number(x = 1, y = -4):
    z = x + y
    return z

print('No arguments passed in returns:', add_number()) # no arguments passed
print('One argument passed in returns:', add_number(-5)) # one argument passed overwrites default x 
print('Two argument passed in returns:', add_number(2, 3)) # two arguments passed overwrites default x and y

With default arguments, can use a dictionary to pass the values into the function, use the double asterisk (`**`) to unpack the arguments.

In [ ]:
def describe_person(first_name=None,last_name=None):
    
    print("First name: {}\nLast name: {}".format(first_name,last_name))

In [ ]:
d = {'first_name': 'Dom' , 'last_name': 'Morgan'}

In [ ]:
describe_person(**d)

The keys in the a dictionary need to be the same name as the arguments for the function.

In [ ]:
d = {'first': 'Dom' , 'last': 'Morgan'}
describe_person(**d) ## will error

### Variable number of arguments
Can pass any number of arguments to a function by using `*` infront of single argument.

In [ ]:
def adder(*x):
    
    total = 0
    for num in x:
        total += num
    return total

In [ ]:
adder(1,2,3,4,5)

In [ ]:
adder(4,6)

In [ ]:
adder(4,7,8,88,4,4,3,4)

### Datetime Module

Python doesn't recognize dates as a data type, however Python has a library `datetime` that can treat dates as date objects.

Python official docs for [datetime](https://docs.python.org/3/library/datetime.html) 

To use Python libraries, use `import`
```python
from datetime import datetime
```
The example above means from Python `datetime` library import `datetime` module. Once imported can now use `datetime` associated methods. Execute`help(datetime)` or `datetime.` + Tab to bring up a list of datetime methods.

In [ ]:
from datetime import datetime

# assign operation to variable
date = datetime.today()
print(date)

In [ ]:
# datetime is not a string or numerical
type(date)
date

In [ ]:
# calling attributes, attributes don't use ()
date.year # returns year

In [ ]:
date.month # returns month

In [ ]:
date.day # returns day

In [ ]:
# create parameters for datetime object
dt_year = 2018
dt_month = 6
dt_day = 25
dt_hour = 9
dt_minute = 30
dt_second = 45

In [ ]:
# create datetime object
my_date = datetime(dt_year, dt_month, dt_day)
print(my_date) # by default time is 00:00:00

In [ ]:
my_date = datetime(dt_year, dt_month, dt_day, dt_hour, dt_minute, dt_second)
print(my_date)

In [ ]:
# get attributes from my_date
print("The year is:", my_date.year)
print("The month is:", my_date.month)
print("The day is:", my_date.day)
print("The hour is:", my_date.hour)
print("The minute is:", my_date.minute)
print("The second is:", my_date.second)

With a datetime object can use `.strftime()` (string format time) method to return a string version. The syntax is:
```python
datetime.strftime('directive')
```
The directive is passed in as a string into `.strftime()`. Below table is a reference to legal format codes:

Directive | Meaning | Example 
 ----- | ----- | -----
 %a | Weekday as locale’s abbreviated name. | Sun, Mon, …, Sat (en_US) 
 %A | Weekday as locale’s full name. | Sunday, Monday, …, Saturday (en_US) 
 %w | Weekday as a decimal number, where 0 is Sunday and 6 is Saturday. | 0, 1, …, 6 	 
 %d | Day of the month as a zero-padded decimal number. | 01, 02, …, 31 
 %b | Month as locale’s abbreviated name. | Jan, Feb, …, Dec (en_US) 
 %B | Month as locale’s full name. | January, February, …, December (en_US) 
 %m | Month as a zero-padded decimal number. | 01, 02, …, 12 
 %y | Year without century as a zero-padded decimal number. | 00, 01, …, 99 	 
 %Y | Year with century as a decimal number. | 0001, 0002, …, 2013, 2014, …, 9998, 9999 
 %H | Hour (24-hour clock) as a zero-padded decimal number. | 00, 01, …, 23 
 %I | Hour (12-hour clock) as a zero-padded decimal number. | 01, 02, …, 12 
 %p | Locale’s equivalent of either AM or PM. | AM, PM (en_US) 
 %M | Minute as a zero-padded decimal number. | 00, 01, …, 59 
 %S | Second as a zero-padded decimal number. | 00, 01, …, 59 
 %f | Microsecond as a decimal number, zero-padded on the left. | 000000, 000001, …, 999999 
 %z | UTC offset in the form ±HHMM[SS[.ffffff]] (empty string if the object is naive). | (empty), +0000, -0400, +1030, +063415, -030712.345216 
 %Z | Time zone name (empty string if the object is naive). | (empty), UTC, EST, CST 
 %j | Day of the year as a zero-padded decimal number. | 001, 002, …, 366 
 %U | Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. | 00, 01, …, 53
 %W | Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0. | 00, 01, …, 53 
 %c | Locale’s appropriate date and time representation. | Tue Aug 16 21:30:00 1988 (en_US) 
 %x | Locale’s appropriate date representation. | 08/16/88 (None); 08/16/1988 (en_US) 
 %X | Locale’s appropriate time representation. | 21:30:00 (en_US) 
 %% | A literal '%' character.	| % 
 %G | ISO 8601 year with century representing the year that contains the greater part of the ISO week (%V). | 0001, 0002, …, 2013, 2014, …, 9998, 9999 
 %u | ISO 8601 weekday as a decimal number where 1 is Monday. | 1, 2, …, 7 
 %V | ISO 8601 week as a decimal number with Monday as the first day of the week. Week 01 is the week containing Jan 4. | 01, 02, …, 53

In [ ]:
# Return Year
my_date.strftime('%Y')

In [ ]:
# Return Month
my_date.strftime('%B')

In [ ]:
# Return Day
my_date.strftime('%d')

In [ ]:
# Return Year Month Day
my_date.strftime("%Y %B %d")

In [ ]:
# Return Day Month Year
my_date.strftime("%d %B %Y")

Within `datetime` library there is a `time` module for time related methods. To use the `time` module import from `datetime`.

```python
from datetime import time
```
Below is `.strftime()` directives for time format:

Directive | Meaning 
-| ----
%a | Locale’s abbreviated weekday name.	 
%A | Locale’s full weekday name.	 
%b | Locale’s abbreviated month name.	 
%B | Locale’s full month name.	 
%c | Locale’s appropriate date and time representation.	 
%d | Day of the month as a decimal number [01,31].	 
%H | Hour (24-hour clock) as a decimal number [00,23].	 
%I | Hour (12-hour clock) as a decimal number [01,12].	 
%j | Day of the year as a decimal number [001,366].	 
%m | Month as a decimal number [01,12].	 
%M | Minute as a decimal number [00,59].	 
%p | Locale’s equivalent of either AM or PM.
%S | Second as a decimal number [00,61].
%U | Week number of the year (Sunday as the first day of the week) as a decimal number [00,53]. All days in a new year preceding the first Sunday are considered to be in week 0.
%w | Weekday as a decimal number [0(Sunday),6].	 
%W | Week number of the year (Monday as the first day of the week) as a decimal number [00,53]. All days in a new year preceding the first Monday are considered to be in week 0.
%x | Locale’s appropriate date representation.	 
%X | Locale’s appropriate time representation.	 
%y | Year without century as a decimal number [00,99].	 
%Y | Year with century as a decimal number.	 
%z | Time zone offset indicating a positive or negative time difference from UTC/GMT of the form +HHMM or -HHMM, where H represents decimal hour digits and M represents decimal minute digits [-23:59, +23:59].	 
%Z | Time zone name (no characters if no time zone exists).	 
%% | A literal '%' character.

In [ ]:
# Time module
from datetime import time

hour = 13
minute = 45
seconds = 10
t = time(hour,minute,seconds)
print(t)

In [ ]:
# Return Hour, Minute, Seconds
t.strftime('%I:%M:%S')

### Time Module
Python also has a `time` library that has time-related functions. Note that not all functions are available for all platforms. The official Python `time` library docs are [here](https://docs.python.org/3.7/library/time.html). Import to use the `time` library.
```python
import time
```

In [ ]:
# return localtime in a tuple
import time
tt = time.localtime()
print(tt)
type(tt)

In [ ]:
# index to get values
print("hour:", tt[3])
print("minute:", tt[4])

In [ ]:
# to strftime
time.strftime("%H:%M:%S", tt)