![pic](https://xccelerate.co/static/logo@3x-45da759fdee2af1d7e8b7cc2c3e8e73e-28324.png)

# Session 1 Exercises

#1. What is the remainder of 102132 divided by 78

In [1]:
102132 % 78

30

Calculate 3.14^2

In [2]:
3.14 ** 2

9.8596

#2. Create of list of every 12th numbers from 1 to 100

In [46]:
x = list(range(1,101,12))

#3.  What is the length of the above list

In [4]:
len(list(range(1,101,12)))

9

#4. Create a tuple of numbers from 5 to 10

In [5]:
tuple(range(5,11))

(5, 6, 7, 8, 9, 10)

#5. What's are the differences between a list and an tuple?

list uses [] and its mutable
tuple uses () and its immutable

#6. What data types are each of the following brackets used for in python, `()`, `[]` and `{}` ?

() tuple
[] list
{} dictionary

#7. Create a dictionary with one entry

In [7]:
d = {'food': 'pizza'}
d

{'food': 'pizza'}

#8. Add a new entry to the dictionary

In [8]:
d['transport'] = 'car'
d

{'food': 'pizza', 'transport': 'car'}

#9. Update first entry value by adding a list

In [10]:
d['food'] = ['apples', 'bread','eggs']
d

{'food': ['apples', 'bread', 'eggs'], 'transport': 'car'}

#10. Why is the output of the bellow '42' and not  6?
```python
>>> '4' + '2'
'42'
```

In [11]:
'4' + '2'

'42'

In [12]:
int('4') + int('2')

6

#11. Convert string "1538135465" to a list

In [13]:
list("1538135465")

['1', '5', '3', '8', '1', '3', '5', '4', '6', '5']

#12. From the above list remove all the '5'

In [14]:
lst = list("1538135465")

In [17]:
lst.remove('5')
lst

['1', '3', '8', '1', '3', '4', '6']

In [ ]:
lst.remove('5')
lst.remove('5')
lst.remove('5')

#13. From the list with no "5" replace all the "1" with "hello"

In [19]:
lst[0] = 'hello'

In [45]:
lst[3] = 'hello'
y = lst

#14. Use string formatting to print:
  * `Hong Kong has 8 MTR lines with a total of 98 stations`
 
Use these variables:
  * transport = 'MTR'
  * amount = 98

In [23]:
transport = 'MTR'
amount = 98

In [24]:
print("Hong Kong has 8 {} lines with a total of {} stations".format(transport, amount))

Hong Kong has 8 MTR lines with a total of 98 stations

#15. From the nested list, use indexing to print string "world"

In [25]:
l = ['a', 'z', 1, 56, ['d', 34,'abc'], 3,[5, 'qwe',['la', 123, 'hello',['world'], 8, 0], 'def'], 6, 100, 'xyz']

In [26]:
l

['a',
 'z',
 1,
 56,
 ['d', 34, 'abc'],
 3,
 [5, 'qwe', ['la', 123, 'hello', ['world'], 8, 0], 'def'],
 6,
 100,
 'xyz']

In [30]:
l[6][2][3][0]

'world'

#16. What is the lenght of 3.14

In [32]:
len(str(3.14))

4

#17. Given the following variables:
 * car = 'sedan'
 * model = 'tesla'
 * color = 'black'

print the variables to match this output:
 * i drive a#black#tesla#sedan!

In [33]:
car = 'sedan'
model = 'tesla'
color = 'black'

In [34]:
print('i drive a', color, model, car, sep='#', end='!')

i drive a#black#tesla#sedan!

#18. Difficult: from the nested dictionary, print 'boc'

In [35]:
dic = {'key': 'value', 'banks': [4, 3, 'many',{'local':['hang seng', 'dah sing','OCBC', 'international',['hsbc', 'sc','citibank', {'china': ['boc', 'ccb']}, 145, 852], 'octopuss', 'mtr'], 'sports': ['football','basketball']}], 'temp':'humid'}

In [36]:
dic

{'key': 'value',
 'banks': [4,
  3,
  'many',
  {'local': ['hang seng',
    'dah sing',
    'OCBC',
    'international',
    ['hsbc', 'sc', 'citibank', {'china': ['boc', 'ccb']}, 145, 852],
    'octopuss',
    'mtr'],
   'sports': ['football', 'basketball']}],
 'temp': 'humid'}

In [44]:
dic['banks'][3]['local'][4][3]['china'][0]

'boc'

#19. Change this cell to markdown and run cell, what do you see?

![pic](https://i2.wp.com/evomics.org/wp-content/uploads/2011/09/python-logo-glassy.png)

#20. Add five cells below this markdown

#21. Delete 2 cells from above

#22. Combine the list from question 13 to question 2

In [47]:
x.append(y)

In [48]:
x

[1,
 13,
 25,
 37,
 49,
 61,
 73,
 85,
 97,
 ['hello', '3', '8', 'hello', '3', '4', '6']]

# GREAT JOB!